@import url("https://use.typekit.net/exx4ajp.css");

body {
  background-image: linear-gradient(to bottom right, #88b4f6, #88b4f6);
  font-family: Arial, Helvetica, sans-serif;
}

.info-window {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
}
.info-window h3 {
  color: #13294b;
  margin-bottom: 5px;
  font-family: "franklin-gothic-compressed", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

.info-window p {
  font-size: 1rem;
}
.info-window img {
  display: block;
  margin: auto;
}
.rm-button {
  text-align: center;
  margin: 10px 0;
  font-family: "franklin-gothic-compressed", sans-serif;
  font-weight: 400;
}

.rm-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #88b4f6;
  color: #f5eedc;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.rm-button a:hover {
  background-color: #13294b;
}
.top-cities-list {
  margin-top: 20px;
  padding: 15px;
  background-color: #13294b;
  border-radius: 5px;
}

.top-cities-list h2 {
  margin-bottom: 10px;
}

.top-cities-list ul {
  list-style-type: none;
  padding: 0;
}

.top-cities-list li {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scoll {
  max-height: 100px;
  overflow-y: auto;
}

.title {
  font-size: 5rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  text-align: center;
  color: #f5eedc;
  font-family: "franklin-gothic-compressed", sans-serif;
  font-weight: 600;
}

.city-title {
  font-size: 30px;
  padding: 1rem;
  text-align: center;
  color: #f5eedc;
  font-family: "franklin-gothic-compressed", sans-serif;
  font-weight: 600;
}

.script {
  font-size: 30px;
  margin-bottom: 8rem;
  padding-right: 8rem;
  line-height: 3rem;
  color: #f5eedc;
  font-family: "franklin-gothic-compressed", sans-serif;
  font-weight: 400;
}

#map {
  margin-bottom: 4rem;
}

.article-space {
  margin-bottom: 4px;
}

#backToMapButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1000;
}

.hover_img {
  display: none;
}

#backToMapButton img {
  width: 350px;
  height: auto;
}

#backToMapButton:hover .hover_img {
  display: inline-block;
}

#backToMapButton:hover .init_img {
  display: none;
}

@media (max-width: 770px) {
  #backToMapButton img {
    width: 200px;
    height: auto;
  }
  .title {
    font-size: 3rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
    text-align: center;
    color: #f5eedc;
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 600;
  }
  .script {
    font-size: 30px;
    margin-bottom: 8rem;
    padding-right: 1rem;
    padding-left: 1rem;
    line-height: 3rem;
    color: #f5eedc;
    font-family: "franklin-gothic-compressed", sans-serif;
    font-weight: 400;
  }
  .info-window h3 {
    font-size: 2rem;
  }

  .info-window p {
    font-size: 1rem;
  }
}
